* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  font-family: "苹方";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
li {
  list-style: none;
}
body,
html,
#app,
.container_c {
  width: 100%;
  height: 100%;
}
.container_c {
  width: 100%;
  height: 100%;
}
.mu-load-more {
  height: 100%;
  overflow: auto;
}
.mu-appbar {
  position: fixed;
  top: 0;
  left: 0;
}
.null {
  height: 56px;
}
img,
svg {
  max-width: 100%;
}
#app {
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
}
.pad_box_wr {
  padding-top: 56px;
  padding-bottom: 56px;
  box-sizing: border-box;
  height: 100%;
}
